package com.rarible.test.kotlin

import javax.validation.constraints.*
import kotlin.Int
import kotlin.Long
import kotlin.String

data class ConstraintSinglePrimitivesItemDto (
    @field:Min(1)
    @field:Max(111)
    val id : Long = 12,
    @field:Pattern(regexp = "^\d{3}-\d{2}-\d{4}$")
    val name : String = "noname",
    @field:Max(100)
    val index : Int,
    @field:Min(1)
    val count : Int
)